*.private filter=git-crypt diff=git-crypt
*_private filter=git-crypt diff=git-crypt
*_private_local filter=git-crypt diff=git-crypt

**/.ssh/config      filter=git-crypt diff=git-crypt
**/.npmrc           filter=git-crypt diff=git-crypt
**/.aws/credentials filter=git-crypt diff=git-crypt
**/.config/hub      filter=git-crypt diff=git-crypt
**/.ask/**          filter=git-crypt diff=git-crypt
