mackup/Library/Application Support/Tunnelblick
mackup/Library/Containers/com.flexibits.fantastical2.mac
mackup/Library/Preferences/com.googlecode.iterm2.plist
mackup/Library/Preferences/com.spotify.client.plist
mackup/Library/Preferences/com.apple.symbolichotkeys.plist
mackup/Library/Preferences/com.apple.dt.Xcode.plist
mackup/Library/Preferences/com.apple.Terminal.plist
mackup/Library/Preferences/net.limechat.LimeChat-AppStore.plist
mackup/Library/Preferences/org.videolan.vlc.plist
mackup/Library/Preferences/info.marcel-dierkes.KeepingYouAwake.plist
mackup/Library/Preferences/com.bohemiancoding.sketch3.plist
